/* CSS Structure CONTACT */

/* Header */

@font-face {
font-family: "Berlin Sans FB";
font-style: normal;
font-weight: normal;
src: local(Berlin Sans FB), url("../BRLNSR.woff") format("woff");
}

.metadiv{
	background-color:#800080;
	width:100%;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.header{
	background-color:#232020;
	opacity:0.7;
	width: 100%;
	height: 100px; 
	margin: 0 auto;
	position:fixed;
}

.header-mid{
	width: 90%;
	margin: 0 auto;
}


.logo{
	width:20%;
	height:100px;
	float:left;
	position:fixed;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url("../../images/homepage/logo1.png");

}

.menu{
	width:80%;
	height:100px;
	float:right;
	text-align:right;
	margin-right: 60px;
	right: 0;
}

li{
	list-style-type: none;
	margin: 0 3vw;
	font-size: 4vh;
}

a:link, a:active, a:visited{
	color:white;
	text-decoration: none;
}

a:hover{
	color:#800080;
	text-decoration: none;
}

.navigation{	
    color:white;
    font-family:"Berlin Sans FB";
    text-align:right;
    font-size: 4vh;
    float:right;
    max-height: 100px;
}

li { display: inline; }

@media only screen and (max-device-width: 600px) and (min-device-width:300px) {
  .navigation, .menu, li, .contact{
    font-size: 1.5vh;
  }
}



.contact{
    background-color: #800080;
	border-radius: 25px;
  	border: 2px solid white; 
  	max-width: 140px;
  	max-height: 60px; 
  	color:white;
  	font-family:"Berlin Sans FB";
  	font-size: 1em;
	bottom: 50px;
	display: inline;

}

.contact:hover{
    background-color:white;
    border: 2px solid #800080; 
}




/* Footer */


.footer{
	background-color:#232020;
	width: 100%;
	height: 300px; 
	margin: 0 auto;
}

.footer-meta{
	width:90%;
	height:300px;
	margin: 0 auto;
	}

.footer-one, .footer-two, .footer-three{
	width:33.333%;
	height:250px;
	float:left;
	}

.join{
	background-color: #800080;
	border-radius: 25px;
  	border: 2px solid white;
  	padding: 5px; 
  	width: 100px;
  	height: 40px; 
  	color:white;
  	font-family:"Berlin Sans FB";
  	font-size: 0.9em;
  	margin-left:100px;

}

.join:hover{
    background-color:white;
    border: 2px solid #800080; 
}

.social{
	width:100px;
	height:40px;
	float:left;
	margin-left:100px;
	background-color:transparent; ;

}

.facebook{
	width:40px;
	height:40px;
	float:left;
	border-radius: 50%;
	background-image:url("../../images/footer/facebook-share-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color:white;

}

.space{
	width:10px;
	height:40px;
	float:left;
	background-color:transparent;
}

.instagram{
	width:40px;
	height:40px;
	border-radius: 50%;
	float:left;
	background-image:url("../../images/footer/instagram-new-flat.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color:white;
}



.footer-titles{
	font-family: "arial";
	font-size:1em;
	font-weight: bold;
	color:white;
	text-align:left;
	margin-left:100px;
	padding-top:20px;
	}

.footer-text{
	font-family: "arial";
	font-size:0.8em;
	font-weight: normal;
	color:white;
	text-align:left;
	margin-left:100px;
	padding-top:20px;
	margin-top:0px;
	}






/* CONTACT */

/* Title section */

.sectiontitle{
	background-color:#800080;
	height:300px;
	width:100%;
	
}

.sectiontitle-text{
	color:white;
    font-family:"Berlin Sans FB";
    text-align:left;
    font-size: 3em;
    padding-top: 150px;
    margin-left:100px;
}


/* Head section */

.contactpres{
	color:#800080;
    font-family:"Arial";
    text-align:left;
    font-size: 1.1em;
    padding-top: 50px;
    margin-left:90px;
    margin-right:300px;
}

/* Contact form */

.contactblack{
	background-color:black;
	width:100%;
}


input[type=text], select, textarea, option{
	width: 100%; 
	padding: 12px;  
	border: 1px solid #800080;
	border-radius: 25px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
	font-family:"Arial";
	color:#757575;
	font-size: 0.9em;

}


input[type=submit] {
	background-color: #800080;
	color: white;
	border-radius: 25px;
	padding: 12px 20px;
	border: 2px solid white; 
	cursor: pointer;
	font-family:"Berlin Sans FB";
	font-size: 0.9em;
	
}

input[type=submit]:hover {
	background-color:white;
	color:#800080;
	font-family:"Berlin Sans FB";
	border: 2px solid #800080;
	font-size: 0.9em; 
}

.container {
	border-radius: 5px;
	background-color:black;
	padding: 20px;
	margin-left:70px;
	margin-right:350px;
	padding-top:40px;
}

.contacttext{
	font-family:"Arial";
	color:#800080;
}








